* {
  margin: 0;
  padding: 0;
}

*,
*::befor,
*::after {
  box-sizing: border-box;
}

#CodeArea {
  word-break: break-all;
}

#BaguaMap {
  position: absolute;
  left: 50px;
  top: 50px;
}

#BaguaMap::before,
#BaguaMap::after {
  content: "";
  display: block;
  position: absolute;
}

#DisplayArea {
  position: fixed;
  right: 20px;
  top: 20px;
}
@media (max-width: 500px) {
  #CodeArea {
    height: 70vh;
    overflow: auto;
  }
  #DisplayArea {
    /* transform: scale(0.8); */
    height: 30vh;
    position: relative;
    right: auto;
    top: auto;
    margin: auto;
  }
}
