* {
  margin: 0;
  padding: 0;
}

*,
*::befor,
*::after {
  box-sizing: border-box;
}

#BaguaMap {
  position: absolute;
  left: 50px;
  top: 50px;
}

#BaguaMap::before,
#BaguaMap::after {
  content: "";
  display: block;
  position: absolute;
}
